<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opendev.mapper.UserMapper">

    <sql id="Base_column_list">
        id, username, password, mobile, nick_name, avatar, sex, email, email_verified, true_name, id_card, birthday, status, create_time, update_time
    </sql>

    <select id="selectById" parameterType="Integer" resultType="com.opendev.bean.User">
        select
        <include refid="Base_column_list"/>
        from user where id = #{userId}
    </select>

    <select id="selectByUsername" parameterType="String" resultType="com.opendev.bean.User">
        select
        <include refid="Base_column_list"/>
        from user where username = #{username}
    </select>

    <select id="selectByPageLimit" parameterType="Integer" resultType="com.opendev.bean.User">
        SELECT
        <include refid="Base_column_list"/>
        FROM user LIMIT #{page},#{limit}
    </select>

    <select id="count" resultType="Long">
        select COUNT(*) FROM user;
    </select>
</mapper>